@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  opacity: 1;
  background-color: rgb(37, 125, 13);
}

.big-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.24rem;
}
#container {
  /* height: 20rem; */
  width: 40rem;
  border-radius: 1rem;
  padding: 1rem 0;
  background-color: rgb(8, 10, 8);
}

#container:hover {
  width: 40.7rem;
}

/* Let's include the styling for my flag Fetch API Data */
.card-body-img {
  height: 14rem;
  display: block;
  margin: 1rem auto;
}

.card-body h1 {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.9rem;
}
.card-body p {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  color: white;
  font-size: 1.2rem;
  padding-top: 2rem;
  font-family: "Roboto", sans-serif;
}
.card-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
  gap: 1rem;
  margin: 0 1rem;
  padding: 2rem;
}

.card-footer h3 {
  padding: 1rem 0;
  border-bottom: 2px solid rgb(255, 245, 245);
  text-align: center;
}

.card-footer p {
  padding-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;

  padding: 1rem 2rem;

  background-color: rgb(253, 253, 253);
  color: white;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
}

.left span {
  color: rgb(0, 161, 197);
}

.left h2 {
  color: rgb(255, 25, 0);
  font-weight: 900;

  font-family: "Roboto", sans-serif;
}

.right {
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 600px) {
  .card-body-img {
    height: 10rem;
  }

  .card-body h1 {
    font-size: 1.5rem;
  }
  #container {
    /* height: 20rem; */
    width: 20rem;
    padding: 2rem 0;
  }

  #container:hover {
    width: 20.7rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
    background-color: rgb(253, 253, 253);
    color: white;
    align-items: center;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
  }

  .header .left {
    display: inline-block;
    font-size: 1rem;
  }

  .header .left h1 {
    display: inline-block;
  }

  .header .right {
    text-align: center;
    padding: 2rem 0;
    font-size: 1rem;
  }
}
